html{
  height: 100%;
  width: 100%;
}

.App{
  display: flex;
  flex-direction: row;
}

.body-left{
  width: 90%;
  background-color: rgb(211, 192, 217);
  height: 100vh;
}

.top-bar{
  display: flex;
  flex-direction: row;
  padding: 20px;
}

.top-bar nav ul{
  list-style: none;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
}

.top-bar nav ul li{
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  margin-right: 10px;
  color: black;
  cursor: pointer;
  background-color: white;
  border-radius: 20px;
  padding: 6px 10px 6px 10px;
}

.top-bar nav ul li.logo{
  font-weight: bold;
  font-size: 20px;
  margin-right: 20px;
  background-color: transparent;
  color: white;
}

.top-bar nav ul li.lang-select{
  margin-left: 220px;
}

.body-right{
  background-color: white;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}